body {
    font-family: 'NeverMind', sans-serif;
}

.nav-link {
    color: black;
    font-size: 18px;
}

.navbar-brand {
    color: black;
    font-size: 24px;
}

#form h1 {
 font-weight: bold;
 font-size: 36px;
}

#form p {
    font-size: 18px;
}

#form a {
    color:#1E1E1E;
    text-decoration: underline;
}

#form input {
    background-color: #E8E8E8;
    border: 0;
    height: 40px;
    border-radius: 0;
    padding: 20px;
}

#form input:active, #form input:hover, #form input:focus {
    box-shadow: none;
}

.smallp{
    font-size: 16px!important;
}

div#main_wrap {
    margin-top: 6%;
}

.upload-box {
    background-color: #E8E8E8;
    padding: 40px 40px 20px 40px;
    text-align: center;
    cursor: pointer;
    margin-top: 5% !important;
  }
  .upload-btn {
    background-color: #2F383C;
    color: white;
    border: none;
    padding: 5px 20px;
    margin-top: 20px;
  }

  .buy-btn {
    background-color: #2F383C;
    color: white;
    border: none;
    padding: 5px 20px;
    margin: 0 auto;
    display: block;
    margin-top: 10% !important;
  }

  .steps-container {
    color: #1E1E1E;
    font-weight: normal;
    margin-top: 10%!important;
    margin-bottom: 7%;
  }
  .steps-container h4 {
    font-weight: normal;
  }
  .steps-container p {
    font-size: 18px;
    text-align: left;
    max-width: 250px;
  }
  .discount-price {
    color: rgba(30, 30, 30, 0.4);
    text-decoration: line-through;
    font-size: 36px;
  }
.price {
    font-size: 35px;
    margin-bottom: 30px;
}
  .disc {
    font-size: 12px;
  }

  .accordion-item {
    border: none!important;
    background: transparent!important;
    margin-bottom: 10px;
}

.accordion-button {
    background: transparent!important;
    color: #1E1E1E!important;
    font-size: 18px!important;
    font-weight: normal!important;
    padding: 15px 20px!important;
    display: flex!important;
    align-items: center!important;
    gap: 10px!important; 
    border: none!important;
    box-shadow: none!important;
}

.accordion-button::after {
    margin-left: auto!important;
    color: #1E1E1E!important;
}

.accordion-button::after {
    filter: brightness(0);
}

.accordion-button:focus {
    box-shadow: none!important;
}

.accordion-body {
    color: rgba(30, 30, 30, 0.4)!important;
    font-size: 16px!important;
}

.prices{
    margin-bottom: 5%;
}

 #history a {
  font-size: 36px;
  text-decoration: none;
  color: #1e1e1e !important;
}

#history p {
  font-size: 18px!important;
}

.history {
  font-size: 36px;
}

button.btn.btn-outline-light.px-4.py-2{
border-radius: 0;
    color: #1e1e1e;
    background: white;
    width: 40%;
    padding: 0 !important;
    font-size: 18px !important;
    height: 35px;

}